<div class="py-5">
  <div class="row">
    <div class="card my-5 row">
      <div class="container">
        <div class="card-header text-center ">
          <h2>seccion</h2>
        </div>
        <div class="row my-5">
          <div class="col-lg-11">
            <h4>Engaging Background Images</h4>
            <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
            <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
          </div>
          <div class="my-3">
            <a class="btn btn-success offset-1" href="#" role="button">Enlace a Github</a>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-lg-11">
            <h4>Engaging Background Images</h4>
            <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
            <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
          </div>
          <div class="my-3">
            <a class="btn btn-success offset-1" href="#" role="button">Enlace a Github</a>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-lg-11">
            <h4>Engaging Background Images</h4>
            <p class="lead">The background images used in this template are sourced from Unsplash and are open source and free to use.</p>
            <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
          </div>
          <div class="my-3">
            <a class="btn btn-success offset-1" href="#" role="button">Enlace a Github</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>